baloofilerc
bat
bluedevilglobalrc
dconf
EOS-greeter.conf
fontconfig
gammastep
gh
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
ibus
kactivitymanagerdrc
kconf_updaterc
kde.org
kdeconnect
kded5rc
kded6rc
kdedefaults
kdeglobals
kglobalshortcutsrc
knfsshare
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
libaccounts-glib
neomutt
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
powermanagementprofilesrc
pulse
tree-sitter
Trolltech.conf
user-dirs.dirs
user-dirs.locale
vivaldi
xsettingsd
yay
unityhub
